/* Login.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    width: 300px;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.formGroup {
    margin-bottom: 15px;
}

.label {
    font-size: 16px;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: #007BFF;
    
    color: #120707;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.errorMessage {
    color: #ff0000;
    margin-top: 10px;
}