.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #9e9c9c;
    width: 200px;
    height: 100vh;
    padding: 20px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-bottom: 10px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}